.main_page {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "user-info opened-chat"
    "chat-list opened-chat";
    width: 100vw;
    height: 100vh;
    color: white;
    padding: 20px;
}

.user_info {
    display: flex;
    flex-direction: column;
    grid-area: user-info;
    height: fit-content;
    padding: 10px 25px;
    background-color: #010B13;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    justify-content: left;
}

.user_avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.username {
    margin: 10px 0;
    width: fit-content;
}

.find_button {
    display: flex;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.3s;
    margin-left: auto;
    margin-top: auto;
}

.find_button:hover {
    cursor: pointer;
    border: #7F9F7F solid 1px;
        }

.find_button_icon {
    height: inherit;
    width: inherit;
}

.chat_list {
    display: flex;
    flex-direction: column;
    grid-area: chat-list;
    width: 20vw;
    background-color: #010B13;
    border-radius: 10px;
    margin: 10px 0;
    gap: 10px;
    padding: 25px;
}

.opened_chat {
    grid-area: opened-chat;
    border-radius: 10px;
    background-color: #010B13;
    margin: 0 30px
}